##################################################################################
## ni_fpga_board.ucf
##
## Author: Ivan Deras
##
## Contains assignment and iostandard information for
## all used pins as well as timing and area constraints for 
## National Instruments FPGA Board that uses a 50Mhz oscillator.
##
##################################################################################

# Crystal Clock - use 50MHz onboard oscillator
NET "clk"  LOC="B8" | IOSTANDARD = LVCMOS33 | PERIOD = 20ns ;

# J1
Net "J1<0>" LOC ="C15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J1<1>" LOC ="F13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J1<2>" LOC ="F14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J1<3>" LOC ="G13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J1<4>" LOC ="F12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J1<5>" LOC ="D14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J1<6>" LOC ="F15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J1<7>" LOC ="G14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

#J2
Net "J2<0>" LOC ="H14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J2<1>" LOC ="J13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J2<2>" LOC ="K13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J2<3>" LOC ="H11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J2<4>" LOC ="H12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J2<5>" LOC ="J14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J2<6>" LOC ="K14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J2<7>" LOC ="K12" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

#J3
Net "J3<0>" LOC ="D15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J3<1>" LOC ="G16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J3<2>" LOC ="J16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J3<3>" LOC ="K15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J3<4>" LOC ="C16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J3<5>" LOC ="G15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J3<6>" LOC ="H15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J3<7>" LOC ="K16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

#J4
Net "J4<0>" LOC ="M16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J4<1>" LOC ="L14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J4<2>" LOC ="P15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J4<3>" LOC ="R15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J4<4>" LOC ="L15" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J4<5>" LOC ="N16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J4<6>" LOC ="P16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J4<7>" LOC ="R16" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

#J5
Net "J5<0>" LOC ="T13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J5<1>" LOC ="R11" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J5<2>" LOC ="T8" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J5<3>" LOC ="P6"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J5<4>" LOC ="P14" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J5<5>" LOC ="R13" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J5<6>" LOC ="N10" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J5<7>" LOC ="R6" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

#J6
Net "J6<0>" LOC ="M8"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J6<1>" LOC ="P8"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J6<2>" LOC ="N6"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J6<3>" LOC ="P5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J6<4>" LOC ="N9"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J6<5>" LOC ="L8"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J6<6>" LOC ="N8"  | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
Net "J6<7>" LOC ="M6" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

## RS232
Net "rxd" LOC="A10" | IOSTANDARD = LVCMOS33;
Net "txd" LOC="E11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;

## SPI flash
Net "SPI_CS" LOC="E10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SPI_SCK" LOC="D10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SPI_MISO" LOC="E9"  | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;
Net "SPI_MOSI" LOC="A9" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8;


#NET "vgaclk" TIG;
